# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\sda\SDAProjekty\Sesja_samodzielna_Spring_26.11\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
